<a href="https://colab.research.google.com/github/NaseemaO/Deep_Learning_Challenge/blob/main/AlphabetSoupCharity_Optimization.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, OneHotEncoder
import pandas as pd
import tensorflow as tf
%matplotlib inline
from sklearn.compose import ColumnTransformer
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [2]:
#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
application_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34299 entries, 0 to 34298
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   EIN                     34299 non-null  int64
 1   NAME                    34299 non-null  object
 2   APPLICATION_TYPE        34299 non-null  object
 3   AFFILIATION             34299 non-null  object
 4   CLASSIFICATION          34299 non-null  object
 5   USE_CASE                34299 non-null  object
 6   ORGANIZATION            34299 non-null  object
 7   STATUS                  34299 non-null  int64
 8   INCOME_AMT              34299 non-null  object
 9   SPECIAL_CONSIDERATIONS  34299 non-null  object
 10  ASK_AMT                 34299 non-null  int64
 11  IS_SUCCESSFUL           34299 non-null  int64
dtypes: int64(4), object(8)
memory usage: 3.1+ MB

In [4]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df.drop(application_df.columns[[0, 1]], axis=1, inplace=True)
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [5]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [6]:
# Look at APPLICATION_TYPE value counts for binning. # create a list to hold the application_type
app_type_bin = application_df["APPLICATION_TYPE"].value_counts()
app_type_bin

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [7]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
app_cutoff_value =527

# Create a list of application types to be replaced
application_types_to_replace = app_type_bin[app_type_bin < app_cutoff_value].index.tolist()

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [8]:
# Look at CLASSIFICATION value counts for binning
class_bin = application_df["CLASSIFICATION"].value_counts()
class_bin

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [9]:
# You may find it helpful to look at CLASSIFICATION value counts >1
class_bin[class_bin> 1]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [10]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
class_cutoff_value = 1882

classifications_to_replace = class_bin[class_bin < class_cutoff_value].index.tolist()

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [11]:
# identify the dtypes in application_df
application_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34299 entries, 0 to 34298
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   APPLICATION_TYPE        34299 non-null  object
 1   AFFILIATION             34299 non-null  object
 2   CLASSIFICATION          34299 non-null  object
 3   USE_CASE                34299 non-null  object
 4   ORGANIZATION            34299 non-null  object
 5   STATUS                  34299 non-null  int64
 6   INCOME_AMT              34299 non-null  object
 7   SPECIAL_CONSIDERATIONS  34299 non-null  object
 8   ASK_AMT                 34299 non-null  int64
 9   IS_SUCCESSFUL           34299 non-null  int64
dtypes: int64(3), object(7)
memory usage: 2.6+ MB

In [12]:
## Generate our categorical variable lists that are with the dtype Object.
app_cat = application_df.dtypes[application_df.dtypes == "object"].index.tolist()
app_cat

['APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'INCOME_AMT',
 'SPECIAL_CONSIDERATIONS']

In [13]:
# Check the number of unique values in each column
application_df[app_cat].nunique()

APPLICATION_TYPE          9
AFFILIATION               6
CLASSIFICATION            6
USE_CASE                  5
ORGANIZATION              4
INCOME_AMT                9
SPECIAL_CONSIDERATIONS    2
dtype: int64

In [14]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df = pd.get_dummies(application_df, columns=application_df.dtypes[application_df.dtypes == "object"].index.tolist())

# Display the modified DataFrame.
display(application_df.head())
display(application_df.tail())

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,1,0

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
34294,1,5000,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
34295,1,5000,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
34296,1,5000,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34297,1,5000,1,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
34298,1,36500179,0,0,0,0,1,0,0,0,...,0,0,0,0,1,0,0,0,1,0

In [15]:
application_df.dtypes

STATUS                          int64
ASK_AMT                         int64
IS_SUCCESSFUL                   int64
APPLICATION_TYPE_Other          uint8
APPLICATION_TYPE_T10            uint8
APPLICATION_TYPE_T19            uint8
APPLICATION_TYPE_T3             uint8
APPLICATION_TYPE_T4             uint8
APPLICATION_TYPE_T5             uint8
APPLICATION_TYPE_T6             uint8
APPLICATION_TYPE_T7             uint8
APPLICATION_TYPE_T8             uint8
AFFILIATION_CompanySponsored    uint8
AFFILIATION_Family/Parent       uint8
AFFILIATION_Independent         uint8
AFFILIATION_National            uint8
AFFILIATION_Other               uint8
AFFILIATION_Regional            uint8
CLASSIFICATION_C1000            uint8
CLASSIFICATION_C1200            uint8
CLASSIFICATION_C2000            uint8
CLASSIFICATION_C2100            uint8
CLASSIFICATION_C3000            uint8
CLASSIFICATION_Other            uint8
USE_CASE_CommunityServ          uint8
USE_CASE_Heathcare              uint8
USE_CASE_Other                  uint8
USE_CASE_Preservation           uint8
USE_CASE_ProductDev             uint8
ORGANIZATION_Association        uint8
ORGANIZATION_Co-operative       uint8
ORGANIZATION_Corporation        uint8
ORGANIZATION_Trust              uint8
INCOME_AMT_0                    uint8
INCOME_AMT_1-9999               uint8
INCOME_AMT_10000-24999          uint8
INCOME_AMT_100000-499999        uint8
INCOME_AMT_10M-50M              uint8
INCOME_AMT_1M-5M                uint8
INCOME_AMT_25000-99999          uint8
INCOME_AMT_50M+                 uint8
INCOME_AMT_5M-10M               uint8
SPECIAL_CONSIDERATIONS_N        uint8
SPECIAL_CONSIDERATIONS_Y        uint8
dtype: object

In [16]:
# Split our preprocessed data into our features and target arrays.  X is the features. y is the target.
X = application_df.drop(columns = 'IS_SUCCESSFUL').values
y = application_df.IS_SUCCESSFUL.values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42, stratify=y)

In [17]:
# Display the shapes of the resulting datasets
print("X_train shape:", X_train.shape)
print("X_test shape:", X_test.shape)
print("y_train shape:", y_train.shape)
print("y_test shape:", y_test.shape)

X_train shape: (25724, 43)
X_test shape: (8575, 43)
y_train shape: (25724,)
y_test shape: (8575,)

In [18]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [19]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.  80 neurons in first hidden layer1, 30 in second hidden layer2 based on output in starter code for this code block
input_features = len(X_train[0])

hidden_nodes_layer1 =  80
hidden_nodes_layer2 = 30

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=input_features, activation="relu"))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 80)                3520

 dense_1 (Dense)             (None, 30)                2430

 dense_2 (Dense)             (None, 1)                 31

=================================================================
Total params: 5981 (23.36 KB)
Trainable params: 5981 (23.36 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [20]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [21]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
804/804 [==============================] - 4s 3ms/step - loss: 0.5686 - accuracy: 0.7224
Epoch 2/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5550 - accuracy: 0.7304
Epoch 3/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5519 - accuracy: 0.7324
Epoch 4/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5502 - accuracy: 0.7322
Epoch 5/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5489 - accuracy: 0.7333
Epoch 6/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5479 - accuracy: 0.7343
Epoch 7/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5466 - accuracy: 0.7336
Epoch 8/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5469 - accuracy: 0.7344
Epoch 9/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5461 - accuracy: 0.7352
Epoch 10/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5455 - accuracy: 0.7352
Epoch 11/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5449 - accuracy: 0.7369
Epoch 12/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5443 - accuracy: 0.7363
Epoch 13/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5444 - accuracy: 0.7363
Epoch 14/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5438 - accuracy: 0.7360
Epoch 15/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5432 - accuracy: 0.7369
Epoch 16/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5436 - accuracy: 0.7382
Epoch 17/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5425 - accuracy: 0.7362
Epoch 18/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5428 - accuracy: 0.7370
Epoch 19/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5421 - accuracy: 0.7370
Epoch 20/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5422 - accuracy: 0.7388
Epoch 21/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5416 - accuracy: 0.7387
Epoch 22/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5417 - accuracy: 0.7373
Epoch 23/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5415 - accuracy: 0.7373
Epoch 24/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5414 - accuracy: 0.7376
Epoch 25/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5413 - accuracy: 0.7375
Epoch 26/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5407 - accuracy: 0.7383
Epoch 27/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5406 - accuracy: 0.7381
Epoch 28/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5398 - accuracy: 0.7372
Epoch 29/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5399 - accuracy: 0.7373
Epoch 30/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5399 - accuracy: 0.7381
Epoch 31/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5396 - accuracy: 0.7391
Epoch 32/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5398 - accuracy: 0.7389
Epoch 33/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5397 - accuracy: 0.7388
Epoch 34/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5397 - accuracy: 0.7395
Epoch 35/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5393 - accuracy: 0.7397
Epoch 36/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5396 - accuracy: 0.7392
Epoch 37/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5389 - accuracy: 0.7392
Epoch 38/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5385 - accuracy: 0.7397
Epoch 39/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5380 - accuracy: 0.7388
Epoch 40/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5385 - accuracy: 0.7391
Epoch 41/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5384 - accuracy: 0.7382
Epoch 42/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5386 - accuracy: 0.7391
Epoch 43/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5381 - accuracy: 0.7399
Epoch 44/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5381 - accuracy: 0.7396
Epoch 45/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5381 - accuracy: 0.7398
Epoch 46/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5372 - accuracy: 0.7406
Epoch 47/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5379 - accuracy: 0.7388
Epoch 48/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5376 - accuracy: 0.7398
Epoch 49/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5376 - accuracy: 0.7396
Epoch 50/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5379 - accuracy: 0.7389
Epoch 51/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5370 - accuracy: 0.7403
Epoch 52/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5374 - accuracy: 0.7403
Epoch 53/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5372 - accuracy: 0.7391
Epoch 54/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5373 - accuracy: 0.7399
Epoch 55/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5370 - accuracy: 0.7404
Epoch 56/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5372 - accuracy: 0.7395
Epoch 57/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5372 - accuracy: 0.7400
Epoch 58/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5367 - accuracy: 0.7397
Epoch 59/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5364 - accuracy: 0.7401
Epoch 60/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5366 - accuracy: 0.7406
Epoch 61/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5366 - accuracy: 0.7395
Epoch 62/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5363 - accuracy: 0.7398
Epoch 63/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5362 - accuracy: 0.7397
Epoch 64/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5368 - accuracy: 0.7402
Epoch 65/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5364 - accuracy: 0.7391
Epoch 66/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5364 - accuracy: 0.7407
Epoch 67/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5360 - accuracy: 0.7401
Epoch 68/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5361 - accuracy: 0.7402
Epoch 69/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5357 - accuracy: 0.7404
Epoch 70/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5360 - accuracy: 0.7404
Epoch 71/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5357 - accuracy: 0.7416
Epoch 72/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5360 - accuracy: 0.7406
Epoch 73/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5361 - accuracy: 0.7411
Epoch 74/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5353 - accuracy: 0.7401
Epoch 75/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5355 - accuracy: 0.7400
Epoch 76/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5357 - accuracy: 0.7398
Epoch 77/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5358 - accuracy: 0.7402
Epoch 78/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5357 - accuracy: 0.7418
Epoch 79/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5352 - accuracy: 0.7402
Epoch 80/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5354 - accuracy: 0.7408
Epoch 81/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5352 - accuracy: 0.7407
Epoch 82/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5357 - accuracy: 0.7407
Epoch 83/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5359 - accuracy: 0.7413
Epoch 84/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5349 - accuracy: 0.7410
Epoch 85/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5350 - accuracy: 0.7406
Epoch 86/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5349 - accuracy: 0.7406
Epoch 87/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5350 - accuracy: 0.7405
Epoch 88/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5347 - accuracy: 0.7410
Epoch 89/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5348 - accuracy: 0.7411
Epoch 90/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5351 - accuracy: 0.7399
Epoch 91/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5347 - accuracy: 0.7412
Epoch 92/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5343 - accuracy: 0.7410
Epoch 93/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5348 - accuracy: 0.7407
Epoch 94/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5345 - accuracy: 0.7414
Epoch 95/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5341 - accuracy: 0.7406
Epoch 96/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5341 - accuracy: 0.7409
Epoch 97/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5350 - accuracy: 0.7406
Epoch 98/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5343 - accuracy: 0.7415
Epoch 99/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5342 - accuracy: 0.7406
Epoch 100/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5340 - accuracy: 0.7411

In [22]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.5662 - accuracy: 0.7244 - 508ms/epoch - 2ms/step
Loss: 0.5662447214126587, Accuracy: 0.7244315147399902

In [23]:
# Export our model to HDF5 file.  (HDF5, Hierarchical Data Format, Version 5 is a general purpose library and file format for storing scientific data.)

from google.colab import files
nn.save('AlphabetSoupCharity_model.h5')
files.download('AlphabetSoupCharity_model.h5')

/usr/local/lib/python3.10/dist-packages/keras/src/engine/training.py:3079: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(